{% extends 'base.html' %}
{% block title %}
<title>Caesar Cipher | CryptoSec</title>
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/caser.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="title">Caesar cipher</div>
        <div class="container">
            <h3>Encryption</h3>
            <form class="sub-form" method="POST">
                {% csrf_token %}

                <div class="message1">
                    <label for="message">Message</label>
                    <input type="text" name="message" value="{{message_to_encrypt}}">
                </div>
                <div class="message1">
                    <label for="key">Key</label>
                    <input type="number" name="key" value="{{key}}">
                </div>
                <div class="encrypt">
                    <input type="submit" value="encrypt" name="encrypt">
                </div>
                <div class="message1">
                    <label for="encryptedMessage">Encrypted Message</label>
                    <input type="text" name="encryptedMessage" readonly value="{{encryptedMessage}}">
                </div>
            </form>
        </div>

        <form class="sub-form" method="POST">
            {% csrf_token %}
            <h3>Decryption</h3>
            <label for="message">Message</label>
            <input type="text" name="message" value="{{message_to_decrypt}}"><br>
            <label for="key">Key</label>
            <input type="number" name="key" value="{{key}}"><br>
            <input type="submit" value="decrypt" name="decrypt"><br>
            <label for="encryptedMessage">Decrypted Message</label>
            <input type="text" name="decryptedMessage" readonly value="{{decryptedMessage}}">
        </form>

    </div>
</div>
</div>
{% endblock %}